body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #111;
  color: white;
  margin: 25px;
}

.card {
  background: #292929;
  padding: 10px;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column:nth-child(2) {
  margin-left: 10px;
}

.right-btn {
  all: unset;
  position: absolute;
  cursor: pointer;
  right: 0;
}

.application {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

.hint {
  border-bottom: 1px dashed #999;
  cursor: help;
}

.bar {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.bar::after {
  content: "|";
}

ul.sources-list {
  list-style: none;
  padding-left: 1em;
}

.grey {
  color: darkgray;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.unset {
  all: unset;
}

.hover-parent-hidden {
  opacity: 0;
  pointer-events: none;
  cursor: unset;
}

*:hover > .hover-parent-hidden {
  opacity: 1;
  pointer-events: unset;
  cursor: pointer;
}

.hover-parent-absent {
  display: none;
}

*:hover > .hover-parent-absent {
  display: unset;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: #292929;
}

.shimmer-left-saving::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 6px;
  height: 100%;
  background: linear-gradient(
    180deg,
    #059669 0%,
    #10b981 20%,
    #34d399 35%,
    #6ee7b7 50%,
    #34d399 65%,
    #10b981 80%,
    #059669 100%
  );
  background-size: 100% 300%;
  animation: shimmer-vertical 1.5s ease-in-out infinite;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
}

@keyframes shimmer-vertical {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -300%;
  }
}

.shimmer-left-working::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 6px;
  height: 100%;
  background: linear-gradient(
    180deg,
    #ca8a04 0%,
    #eab308 20%,
    #facc15 35%,
    #fef3c7 50%,
    #facc15 65%,
    #eab308 80%,
    #ca8a04 100%
  );
  background-size: 100% 300%;
  animation: shimmer-vertical 1.5s ease-in-out infinite;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 10px rgba(245, 158, 11, 0.5);
}
